.song-input{
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,0.5);
}

.song-input-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.song-input-form input,
.song-input-form select,
.song-input-form button{
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-family: inherit;
}